.wrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--add--bg);
}
